<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
    <title>{{{appName}}}</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to external CSS file -->
</head>
<body>
    <div class="container">
        <section class="login-register">
            <section class="login-area">
                <h2>Login</h2>
                <!-- Display login error if exists -->
                {{#if loginError}}
                    <p class="error">{{loginError}}</p>
                {{/if}}
                <a href="/auth/google" class="btn btn-primary">Login with Google</a>
            </section>
            <hr>
            <section class="register-area">
                <h2>Register</h2>
                <!-- Display registration error if exists -->
                {{#if regError}}
                    <p class="error">{{regError}}</p>
                {{/if}}
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="reg-username">Username</label>
                        <input type="text" id="reg-username" name="username" required>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </section>
        </section>
    </div>
</body>
</html>
